/*
	style.scss
	----------

	main global-most style sheet
*/

/* body styles */
body {

	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;

	height: 100vh;
}

/* force box-sizing for all elements */
* {
	box-sizing: border-box;
}

/* no user select or image dragging unless otherwise specified */
* {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	-webkit-user-drag: none;
}

.page-title {
	color: #4B14B8;
	margin-bottom: 15px;
}


// big button used on bottom of pages
.big-button {

	// box
	border-radius: 15px;
	border: 10px solid #4787C3;
	background: #4787C3;
	
	// text
	color: white;
	font-size: 1.2em;
	font-family: "Permanent Marker", sans-serif;

	// spacing
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 20px 30px;

	// hover effect
	cursor: pointer;
	transition:
		background 0.3s, color 0.3s,
		border 0.3s, color 0.3s;

	&:hover {
		background: hotpink;
		border: 10px solid hotpink;
		color: white;
	}

}// .big-button


// re-usable big input field
.big-input {

	// box
	border-radius: 15px;
	border: 10px solid #00abae;
	width: 400px;

	// spacing
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 20px 15px;

	// text
	font-size: 1.2em;
	text-align: center;
	&::placeholder {
		font-style: italic;
		font-family: "Permanent Marker", sans-serif;
		color: #999;
	}

}// .big-input
