/*
	style.css
	---------

	main global-most style sheet
*/

/* body styles */
body {

	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;

	min-width: 650px;

}

/* force box-sizing for all elements */
* {
	box-sizing: border-box;
}

/* no user select or image dragging unless otherwise specified */
* {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	-webkit-user-drag: none;
}
